*{
  box-sizing: border-box;
}
body{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background: #222;
  overflow:hidden;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
ul{
  padding:0;
  margin: 0;
}
#nav{
  /*position:absolute;
  top:0;
  bottom:0;
  left:0;*/
  width:250px;
  background: #3C3E3F;
  border-right:1px solid black;
  position: relative;
}
#main{
  /*position:absolute;
  top:0;
  bottom:0;
  left:250px;
  right:250px;*/
  position: relative;
}

#auxi{
  /*position:absolute;
  top:0;
  bottom:0;*/
  width:250px;
  /*right:0;*/
  background: #333;
-webkit-box-shadow: -1px 0 1px 0 #000000;
box-shadow: -1px 0 1px 0 #000000;
overflow-y: auto;
position: relative;
}
.flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  display: -webkit-flex;
}
.layout-column{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-direction:column;
}
.layout-row{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-direction:row;
}
.flex-1{
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
  -webkit-flex:1 0 0px;
}
.align-items-stretch{
  -webkit-box-align:stretch;
      -ms-flex-align:stretch;
              -ms-grid-row-align:stretch;
          align-items:stretch;
}
.align-items-center{
  -webkit-box-align: center;
      -ms-flex-align:center;
              -ms-grid-row-align:center;
          align-items:center;
}
.align-items-start{
  -webkit-box-align: flex-start;
      -ms-flex-align:flex-start;
              -ms-grid-row-align:flex-start;
          align-items:flex-start;
}
#mainNav{
  position: absolute;
  top:0;
  left:0;
  width:50px;
  bottom: 0;
  background: #3C3E3F;
  border-right:1px solid black;
}
#secondNav{
  background: #272728;
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
  left:50px;
}

.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



.navBtn {
  color:#efefef;
  font-size:1.5em;
  text-align: center;
  margin-bottom:5px;
  margin-top:8px;
  cursor: pointer;
  padding:5px;
}
.navBtn:hover {
  color:#2D6AFB;
}
.navBtn.active{
  color:#2D6AFB;
  background: #272728;
}

.pos_vcenter{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}
.pos_hcenter{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
}
.pos_center{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
#fileLoader{
  cursor: pointer;
}
#fileLoader input[type=file]{
  display: none;
}
#basicInfo{
  padding:12px;
}
#basicInfo>div{
  margin-bottom:8px;
}
span.strong{
  color: white;
}
span{
  color:#999;
}
.v-scroll{
  overflow-y: auto;
}


.layerItem{
  padding: 8px;
  font-size: 0.9em;
  border-bottom: 1px solid #323333;
  cursor: pointer;
}
.layerItem:hover span{
  color:white;
}

.layerItem .icon{
  margin-right:5px;
}
.layerItem.active{
  background: #1D3A7D;
}
.layerItem.active span{
  color:white;
}
.layerItem.hideLayer span{
  color:#555556
}

.scrollable{
  overflow:auto;
}

#tool{
  position: absolute;
  top:0;
  left:0;
  height:60px;
  right:0;
  background: #333;
  z-index:2;
}
.toolItem{
    display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-direction:column;
    background: #999;
    flex-shrink: 0;

}
.toolItem .head{
    font-size: 0.8em;
    text-transform: capitalize;
    color: #111;
    padding: 0;
    margin: 0;
    font-weight: bold;
    border-bottom:2px solid #ccc;
    text-align: center;
}
.toolItem .body{
   display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  display: -webkit-flex;
   -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-direction:row;
    -webkit-box-align: center;
      -ms-flex-align:center;
              -ms-grid-row-align:center;
          align-items:center;
            -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
  -webkit-flex:1 0 0px;
  padding-left:3px;
  padding-right:3px;
  background: #666;
      border-right:1px solid #333;
    border-left:1px solid #333;
}

input{
  outline: none ;
  border:1px solid #999 ;
  background: #333;
  color:white;
}
button{
  outline:none !important;
}
input:focus{
  border:1px solid white;
}
#canvasWrapper{
  position: absolute;
  top:50px;
  left:0;
  right:0;
  bottom:50px;
  padding:10px;
}
#toolFoot{
  position: absolute;
  bottom:0;
  height:50px;
  left:0;
  right:0;
  background: black;
  padding:5px;
}
#toolAndInfo{
  position: absolute;

  top:50%;
  left:0;
  right:250px;
  overflow-x: auto;
  transform: translate(0,-50%);
}
#zoomSlider{
  position: absolute;
  right:10px;
  top:50%;
  transform: translate(0,-50%);
}

#zoomSlider>span{
  padding-left:8px;
  padding-right:8px;
  cursor:pointer;
}

#layerPreview{
  height:230px;
  background:url("../img/ts_bg.png");
  margin-top:8px;
  border-radius: 5px;
  position: relative;
  margin-bottom:8px;
}
#layerPreview img.landscape{
 width:100%;
 position: absolute;
 top:50%;
 transform: translateY(-50%); 
 height:auto;
}
#layerPreview img.portrait{
 height:100%;
 position: absolute;
 left:50%;
 transform: translateX(-50%); 
 width:auto;
}
#textInfo textarea{
  height:150px;
  background:#191A1A;
  color:#ccc;
      border-radius: 0;
    border: none;
}


#donation form{
  text-align: center;
  margin-top:10px;
  margin-bottom:5px;
}
.bg_black{
  background:black;
}
.relative{
  position:relative;
}
.box{
}
.box h3{
  color:white;
  background:#666;
  padding:10px;
  font-size:0.9em;
  margin:0;
  border-bottom:2px solid #999;
}

.box span{
  color:white;
}
.box .box-body{
  padding:10px;

}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(250,250,250,0.2);
}

::-webkit-scrollbar
{
    width: 10px;
    height:10px;
    background-color: rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background: #444;
    border: 1px dashed #ccc;

}
#dlg{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index:100;
  background: rgba(0,0,0,0.7);
}
#dlg>div{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding:15px;
  background: #333;
  border: 1px solid black;
  color:#999;
}
.slider.slider-horizontal{
  width:150px;
}



.psd-file-item{
  padding:10px;
  border-bottom:1px solid #efefef;
  cursor: pointer;
}

.psd-file-item span{
  color:white;
}
.psd-file-item:hover{
  background: #033363;
}
#main_start{
  display: flex;
  flex-direction: column;
}
#main_start .title{
  text-align: center;
  color:white;
}
#main_start .containt_wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    display: -webkit-flex;
     -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-direction:row;
  flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap: wrap;
  padding:20px;
}
#main_start .introBox{
  padding:10px;
  border:1px solid #3C3E3F;
  color: #999;
  width:180px;
  margin-bottom:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background: #333;
  margin-right:20px;
}
#main_start .introBox:hover{
  background: #3C3E3F;
}
#main_start>.intro{
  background: #666;
  padding: 10px;
  font-size:1.2em;
  color:white;
  letter-spacing: 0.1em;
}
#main_start .introBox .icon{
  font-size: 48px;
}
#main_start .introBox .icon img{
  width:48px;
}
#main_start .introBox .intro{
  font-weight: bold;
  font-size:1.3em;
}


.slider.slider-horizontal .slider-track{
    height: 4px;
    margin-top: -2px;
    background:#333;
}
.slider-handle{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}