@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("Roboto-Thin.woff2") format("woff2"), url("Roboto-Thin.woff") format("woff");
  font-weight: 100; }

.fullscreen, body .bg, body .mask, body .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

@keyframes bg {
  from {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale(1.3);
    opacity: 0.3; } }

@keyframes moveup {
  from {
    transform: translateY(30px);
    opacity: 0.2; }
  to {
    transform: translateY(0);
    opacity: 1; } }

a {
  color: white; }

a.nostyle {
  text-decoration: none; }

.moveupanimation, body .content .intro .hi, body .content .intro .intro_lines, body .content .intro .contact, body .content .projects {
  animation-name: moveup;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0; }

body {
  font-family: Roboto;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  font-size: 20px; }
  @media screen and (max-width: 600px) {
    body {
      font-size: 12px; } }
  body .bg {
    position: fixed;
    background: url(../img/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    animation-name: bg;
    animation-duration: 300ms;
    animation-direction: reverse; }
  body .mask {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1; }
  body .blog {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 6;
    font-size: 24px; }
  body .content {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    color: white; }
    @media screen and (max-width: 1000px) {
      body .content {
        flex-direction: column;
        padding: 20px; } }
    body .content .intro .hi {
      font-size: 8em;
      animation-delay: 300ms; }
    body .content .intro .intro_lines {
      font-size: 2em;
      display: flex;
      flex-direction: column;
      animation-delay: 600ms; }
      body .content .intro .intro_lines > span {
        margin-bottom: 20px; }
    body .content .intro .contact {
      text-align: center;
      animation-delay: 900ms; }
      body .content .intro .contact > div {
        padding: 8px; }
      body .content .intro .contact a {
        padding: 8px; }
        body .content .intro .contact a i {
          font-size: 1.3em; }
    body .content .projects {
      color: white;
      margin-left: 200px;
      animation-delay: 1200ms; }
      @media screen and (max-width: 1000px) {
        body .content .projects {
          margin-left: 0;
          margin-top: 50px; } }
      body .content .projects .intro {
        font-size: 1.2em; }
      body .content .projects .project {
        display: block;
        padding: 10px;
        margin-top: 12px;
        margin-left: 10px;
        color: #ccc;
        font-size: 1.2em;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.5);
        transition: all ease 0.3s;
        cursor: pointer; }
        body .content .projects .project .title {
          font-size: 1.6em; }
        body .content .projects .project .desc {
          color: #999; }
      body .content .projects .project:hover {
        background: rgba(255, 255, 255, 0.2); }
