.section{
  margin-bottom:8px;
}
.txtBox{
  width:100%;
  min-height:500px;
  border:3px solid #ccc;
  box-sizing: border-box;
  padding:5px;
  background:#efefef;
  resize:vertical;
  outline:none;
}
.txtBox:focus{
  border:3px solid #999;

}

.btn{
  text-align: center;
  border:2px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}
.btn:hover{
  background: #efefef;
}
.btn:active{
  background: #ccc;
}
.btn.on{
  background: #ccc;

}
.btn.btn-inline{
  display: inline-block;
}
#result{
  display: none;
}
#jsonRes{
  cursor: pointer;
}
#toggleParams{
  max-width:150px;
}
input.sm{
  width:12px;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.col-3-item>span{
  width:31%;
  margin-right:1%;
  float:left;
  display: block;
}
.col-4-item>span{
  width:24%;
  margin-right:1%;
  float:left;
  display: block;
}
.col-2-item>span{
  width:48%;
  margin-right:1%;
  display: inline-block;
}
input.dyna{
  width:65%;
}
#paramBox{
  padding:5px;
  margin-top:5px;
  margin-bottom:5px;
  border:2px solid #eee;
  border-radius: 3px;
  font-size:0.8em;
}
.right{
  float:right;
}

.compact>div{
  line-height:14px;
}
